<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>WelcomeController</servlet-name>
  	<display-name>WelcomeController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.WelcomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PrintNameController</servlet-name>
  	<display-name>PrintNameController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.PrintNameController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardController</servlet-name>
  	<display-name>DashboardController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.DashboardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDashboardController</servlet-name>
  	<display-name>AdminDashboardController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.AdminDashboardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductCatalogue</servlet-name>
  	<display-name>ProductCatalogue</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.ProductCatalogue</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductValidateController</servlet-name>
  	<display-name>ProductValidateController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.ProductValidateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProductController</servlet-name>
  	<display-name>ProductController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.ProductController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckoutController</servlet-name>
  	<display-name>CheckoutController</display-name>
  	<description></description>
  	<servlet-class>com.training.pms.marvel.controller.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>WelcomeController</servlet-name>
  	<url-pattern>/WelcomeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WelcomeController</servlet-name>
  	<url-pattern>/SayHello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintNameController</servlet-name>
  	<url-pattern>/PrintNameController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PrintNameController</servlet-name>
  	<url-pattern>/print</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardController</servlet-name>
  	<url-pattern>/DashboardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDashboardController</servlet-name>
  	<url-pattern>/AdminDashboardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductCatalogue</servlet-name>
  	<url-pattern>/ProductCatalogue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductValidateController</servlet-name>
  	<url-pattern>/ProductValidateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductController</servlet-name>
  	<url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckoutController</servlet-name>
  	<url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
</web-app>
